{% extends "base.html" %}

{% block app_content %}
<h1 class="title">Sign In</h1>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
</head>
<body>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="marginize dewiden-hard center">
            {{ form.username.label }}
            {{ form.username(class="form-control dark-border") }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
            {{ form.password.label }}
            {{ form.password(class="form-control dark-border") }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
            <p>
                Forgot your password? <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
            </p>
        {{ form.remember_me() }} {{ form.remember_me.label }} <hr>
        {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
	<p class="center">New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
</body>
<div class="timestamp">
    <p><span id="time"></span></p>
</div>



<script>
var tme = new Date();
document.getElementById("time").innerHTML ="Date: "+ (("0"+tme.getDate()).slice(-2)) +"."+ (("0"+(tme.getMonth()+1)).slice(-2)) +"."+ (tme.getFullYear()) +" Time:  "+ (("0"+tme.getHours()).slice(-2)) +":"+ (("0"+tme.getMinutes()).slice(-2));
</script>
{% endblock %}