{% extends "base.html" %}}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1 class="title">Register</h1>
<form action="{{ url_for('auth.register') }}" method="POST">
	{{ form.hidden_tag() }}

	<div class="marginize dewiden-hard center">
		{{ form.username.label('Username') }}
		{{ form.username(class="form-control dark-border") }}

		<br>
		{{ form.email.label('Email') }}
		{{ form.email(class="form-control dark-border") }}

		<br>
		{{ form.password.label('Password') }}
		{{ form.password(class="form-control dark-border") }}

		<br>
		{{ form.password2.label('Repeat Password') }}
		{{ form.password2(class="form-control dark-border") }}
		
		<br>
		{{form.country.label('Country')}}
		{{form.country(class="form-control dark-border")}}
		<hr>

		{{form.submit(class="btn btn-primary")}}
	</div>
</form>
<div class="timestamp">
    <p><span id="time"></span></p>
</div>

<script>
var tme = new Date();
document.getElementById("time").innerHTML ="Date: "+ (("0"+tme.getDate()).slice(-2)) +"."+ (("0"+(tme.getMonth()+1)).slice(-2)) +"."+ (tme.getFullYear()) +" Time:  "+ (("0"+tme.getHours()).slice(-2)) +":"+ (("0"+tme.getMinutes()).slice(-2));
</script>
{% endblock %}