{% extends "base.html" %}

{% block content %}
<h1 class="title">Reset Password</h1>
<body>
    <div class="marginize dewiden-hard center">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p> Type the email associated to your account, and if the email exists, an email with a link leading to password recovery will be sent. </p>
            <hr>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(class="form-control dark-border") }}
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <hr>
            <p>{{ form.submit(class="btn btn-primary") }}</p>
        </form>
    </div>
</body>
{% endblock %}