{% extends "base.html" %}

{% block content %}
<h1 class="title">Reset Your Password</h1>
<body>
	<div class="marginize dewiden-hard center">
		<form action="" method="post">
		    {{ form.hidden_tag() }}
		    <p>
		        {{ form.password.label }}<br>
		        {{ form.password(class="form-control dark-border") }}
		        {% for error in form.password.errors %}
		        <span style="color: red;">[{{ error }}]</span>
		        {% endfor %}
		    </p>
		    <p>
		        {{ form.password2.label }}<br>
		        {{ form.password2(class="form-control dark-border") }}
		        {% for error in form.password2.errors %}
		        <span style="color: red;">[{{ error }}]</span>
		        {% endfor %}
		    </p>
		    <p>{{ form.submit(class="btn btn-primary") }}</p>
		</form>
	</div>
</body>
{% endblock %}