.darkbg {
	background: #333333;
}

.about {
	text-align: center;
	padding: 0px 200px;
	font-size: 24px;
	color: black;
}

.timestamp {
	position: relative
}

.bottomright {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 18px;
}