body {
	background: #f0ead6;
}
.title {
	border: 2px solid black ;
	text-align: center;
	text-decoration: underline;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 60px;
	color: black;
	text-transform: capitalize;
}

.center {
	text-align: center;
}

.timestamp {
	position: absolute;
	bottom: 5px;
	right: 16px;
	text-align: right;
}

.marginize {
	margin: 10px auto;
}

.dark_border {
	border: 2px solid black;
}

.dewiden-proportion {
	max-width: 90%;
}

.dewiden-hard {
	max-width: 300px;
}

.table_label {
	margin: 15px 30px;
}