#contacts_table_filter{
  	background-position: 10px 12px;
  	background-repeat: no-repeat;
  	width: 90%;
  	font-size: 16px;
	padding: 12px;
	border: 1px solid #ddd;
	margin: 10px auto;
}

.btn-pad {
	margin: 0 30px 0 0;
}