{% extends "base.html" %}
{% block app_content %}
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about.css') }}">
</head>
<body>
    <h1 class="title">About the International Money Transfer System</h1>
    <p class="about">The “International Money Transfer System” (abberviated IMTS) is a web-based system which allows a user to either send money to someone from their contact list who lives in a selected country or receive money from someone in another country after logging into the system. A transaction fee of 1.5% of the amount being sent is applied to the sender per transaction. The receiver receives the money in its destination country currency. An exchange rate is therefore applied between the originating and the destination currency. An administer uses the software to administer the system and handles customer related issues within a timeframe. The software uses internet connection to successful perform its operation. All system information is maintained in a database, located on a web server.</p>
</body>
<div class="timestamp">
    <p class = "bottomright"><span id="time"></span></p>
</div>

<script>
var tme = new Date();
document.getElementById("time").innerHTML ="Date: "+ (("0"+tme.getDate()).slice(-2)) +"."+ (("0"+(tme.getMonth()+1)).slice(-2)) +"."+ (tme.getFullYear()) +" Time:  "+ (("0"+tme.getHours()).slice(-2)) +":"+ (("0"+tme.getMinutes()).slice(-2));
</script>
{% endblock %}
