{% extends "base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block app_content%}
<h1 class = "title">Add Funds</h1><hr>
<form action="{{url_for('auth.add_funds')}}" method="POST">
	<div class="add_funds center">
		{{ form.hidden_tag() }}
		{{ form.amount(class="form-control marginize dark_border dewiden-hard", placeholder="Amount to Add") }}
		<hr>
		{{form.submit(class="btn btn-lg btn-primary")}}
	</div>
</form>
</div>
<div class="timestamp">
    <p><span id="time"></span></p>
</div>
<script>
var tme = new Date();
document.getElementById("time").innerHTML ="Date: "+ (("0"+tme.getDate()).slice(-2)) +"."+ (("0"+(tme.getMonth()+1)).slice(-2)) +"."+ (tme.getFullYear()) +" Time:  "+ (("0"+tme.getHours()).slice(-2)) +":"+ (("0"+tme.getMinutes()).slice(-2));
</script>
{% endblock %}