{% extends 'bootstrap/base.html' %}
{% block navbar %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
</head>
<nav class="navbar navbar-light bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand brand text-light" href="{{ url_for('auth.login')}} "> <strong>International Money Transfer System</strong></a>
            </li>
            <li class="nav-item active">
                <a class="navbar-link text-light" href="{{ url_for('auth.about')}}">About</a>
            </li>
            {% if current_user.is_anonymous %}
            <li class="nav-item active">
                <a class="navbar-link text-light" href="{{ url_for('auth.login')}}">Login</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('auth.index') }}" class="text-light">Dashboard</a>
            </li>
            <li class="nav-item active">
                <a href="{{ url_for('auth.report_issue') }}" class="text-light">Report Issue</a>
            </li>
            <li class="nav-item active">
                <a href="{{ url_for('auth.contacts') }}" class="text-light">Contacts ({{ current_user.contact_req_recv.count() }})</a>
            </li>
            <li class="nav-item active">
                <a href="{{ url_for('auth.logout') }}" class="text-light">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show marginize center" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
	
{% endblock %}
<body>
{% block content %}
{% block app_content %}{% endblock %}
{% endblock %}
</body>