{% extends "base.html" %}

{% block app_content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/contacts.css') }}">
</head>
<body>
	<h1 class="title">Contacts</h1><hr>
	<h2 class="table_label">Current Contacts</h2>
	<table class="table table-striped table-bordered table-sm marginize dark_border dewiden-proportion" id="contacts_table_list">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Email</th>
				<th scope="col">Currency</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for contact in current_user.my_contacts.all() %}
			<tr>
				<td>{{contact.username}}</td>
				<td>{{contact.email}}</td>
				<td>{{contact.currency}}</td>
				<td>
					<div class="form-check form-check-inline">
						<form action="{{ url_for('auth.transfer') }}" method="POST">
							<button class="btn btn-primary btn-pad" type="submit" name="target" value="{{ contact.username }}">Send Money</button>
						</form>
						<form action="{{ url_for('auth.remove_contact') }}" method="POST">
							<button class="btn btn-primary btn-pad" type="submit" name="target" value="{{ contact.username }}">Remove as Contact</button>
						</form>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="center">
		<input type="text" class="marginize dark_border dewiden-proportion" id="contacts_table_filter" onkeyup="filterUsers()" placeholder="Filter Contacts by Name">
	</div>
	<hr>
	<h2 class="table_label">Contact Requests</h2>
	<table class="table table-striped table-bordered table-sm marginize dark_border dewiden-proportion" id="contacts_table_list">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Status</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for req in current_user.contact_req_recv %}
			<tr>
				<td>{{req.sender_username}}</td>
				<td>Incoming</td>
				<td>
					<div class="form-check form-check-inline">
						<form action="{{ url_for('auth.accept_request') }}" method="POST">
							<button class="btn btn-primary btn-pad" type="submit" name="sender" value="{{ req.sender_username }}">Accept Request</button>
						</form>
						<form action="{{ url_for('auth.reject_request') }}" method="POST">
							<button class="btn btn-primary btn-pad" type="submit" name="sender" value="{{ req.sender_username }}">Reject Request</button>
						</form>
					</div>
				</td>
			</tr>
			{% endfor %}
			{% for req in current_user.contact_req_sent %}
			<tr>
				<td>{{req.receiver_username}}</td>
				<td>Outgoing</td>
				<td>
					<div class="form-check form-check-inline">
						<form action="{{ url_for('auth.cancel_request') }}" method="POST">
							<button class="btn btn-primary btn-pad" type="submit" name="cancel_target" value="{{ req.receiver_username }}">Cancel Request</button>
						</form>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<form action="{{ url_for('auth.add_contact') }}" method="POST">
		<div class="input-group mb-3 marginize dewiden-proportion">
		    <input type="text" class="form-control dark_border" id="add_contact" name="add_contact" placeholder="Add Contact by Username">
		    <div class="input-group-append">
				<button type="submit" class="btn btn-primary">Send Contact Request</button>
			</div>
		</div>
	</form>
	<hr>
</body>

<script>
function filterUsers() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("contacts_table_filter");
  filter = input.value.toUpperCase();
  table = document.getElementById("contacts_table_list");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>

{% endblock %}