{% extends "base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}
{%block app_content%}
<h1 class = "title">Contact Request</h1>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/contact_request.css') }}">
</head>
<div class="marginize dewiden-hard center">
<form action="contact_request" method="POST">
		<input type="submit" class= "btn btn-primary" name="Accept" value="Accept">
		<input type="submit" class="btn btn-primary" name="Deny" value="Deny">
</form>
</div>
<div class="timestamp">
    <p><span id="time"></span></p>
</div>
<script>
var tme = new Date();
document.getElementById("time").innerHTML ="Date: "+ (("0"+tme.getDate()).slice(-2)) +"."+ (("0"+(tme.getMonth()+1)).slice(-2)) +"."+ (tme.getFullYear()) +" Time:  "+ (("0"+tme.getHours()).slice(-2)) +":"+ (("0"+tme.getMinutes()).slice(-2));
</script>
{% endblock %}