
{% extends "base.html" %}
{% block app_content %}

<h1>Home</h1>
<head>
	<style>body{background-color: #f0ead6}</style>
</head>
<div style="position: absolute; bottom: 5px; right: 16px; text-aligntight; background-color: #f0ead6">
	<p> <span id="time"></span></p>
</div>
<li><a href="{{ url_for('auth.contacts') }}">contacts</a></li>



<script>
var tme = new Date();
document.getElementById("time").innerHTML ="Date: "+ (("0"+tme.getDate()).slice(-2)) +"."+ (("0"+(tme.getMonth()+1)).slice(-2)) +"."+ (tme.getFullYear()) +" Time:  "+ (("0"+tme.getHours()).slice(-2)) +":"+ (("0"+tme.getMinutes()).slice(-2));
</script>


{% endblock %}
