{% extends "base.html" %}

{% block app_content %}
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
	<h1 class="title">{{ current_user.username }}'s Dashboard</h1><hr>
	<h2 class="table_label">Current Balance: ${{'%0.2f'| format(current_user.balance|float)}}</h2>
	<div class="dewiden-proportion center marginize">
		<button class="btn btn-primary btn-block" onclick="window.location.href = 'add_funds';">Add Funds</button>
	</div>
	<div class="dewiden-proportion center marginize">
		<button class="btn btn-primary btn-block" onclick="window.location.href = 'withdraw_funds';">Withdraw Funds</button>
	</div>
	<hr>
	<h2 class="table_label">Recent Transactions</h2>
	<table class="table table-striped table-bordered table-sm marginize dark_border dewiden-proportion" id="contacts_table_list">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Date</th>
				<th scope="col">To/From</th>
				<th scope="col">Amount</th>
			</tr>
		</thead>
		<tbody> <!-- TRANSACTION TABLE-->
			{% for transaction in transfers %}
			<tr>
				<td>{{transaction.timestamp}}</td>
				{% if current_user.username == transaction.sender_username %}
				<td>To: {{transaction.receiver_username}}</td>
				<td>-${{transaction.transfer_amount}}</td>
				{% else %}
				<td>From: {{transaction.sender_username}}</td>
				<td>+${{transaction.transfer_amount}}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<hr>
	<h2 class="table_label">Submitted Issues</h2>
	<table class="table table-striped table-bordered table-sm marginize dark_border dewiden-proportion" id="contacts_table_list">
		<thead class="thead-dark">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Date</th>
				<th scope="col">Subject</th>
				<th scope="col">Responder</th>
				<th scope="col">Status</th>
			</tr>
			{% for issue in current_user.issue_posts %}
			<tr>
				<td>{{ issue.id }}</td>
				<td>{{ issue.timestamp }}</td>
				<td>{{ issue.subject }}</td>
				<td>{{ issue.responder_username }}</td>
				<td>{{ issue.status }}</td>
			</tr>
			{% endfor %}
		</thead>
	</table>
</body>
<<div class="timestamp">
    <p><span id="time"></span></p>
</div>

<script>
var tme = new Date();
document.getElementById("time").innerHTML ="Date: "+ (("0"+tme.getDate()).slice(-2)) +"."+ (("0"+(tme.getMonth()+1)).slice(-2)) +"."+ (tme.getFullYear()) +" Time:  "+ (("0"+tme.getHours()).slice(-2)) +":"+ (("0"+tme.getMinutes()).slice(-2));

function setTwoNumberDecimal(value)
{
	return value = parseFloat(value).toFixed(2)
}
</script>
{% endblock %}