{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/report_issue.css') }}">
</head>
<h1 class="title">Report Issue</h1><hr>
<form action="{{ url_for('auth.report_issue') }}" method="POST">
	{{ form.hidden_tag() }}
	<div class="issue_report">
		<p>Please report your issue here. Steps to reproduce are appreciated.</p>
		<p>Once submitted, a moderator or administrator will view your issue as soon as possible.</p><br>

		{{ form.subject(class="form-control marginize dark_border dewiden-hard", placeholder="Subject of Issue") }}
		{{ form.body(class="issue_report_textarea", placeholder="What went wrong?", cols="30") }}
		<hr>
		{{ form.submit(class="btn btn-lg btn-primary") }}

	</div>
</form>
<div class="timestamp">
    <p><span id="time"></span></p>
</div>

<script>
var tme = new Date();
document.getElementById("time").innerHTML ="Date: "+ (("0"+tme.getDate()).slice(-2)) +"."+ (("0"+(tme.getMonth()+1)).slice(-2)) +"."+ (tme.getFullYear()) +" Time:  "+ (("0"+tme.getHours()).slice(-2)) +":"+ (("0"+tme.getMinutes()).slice(-2));
</script>
{% endblock %}