{% extends "base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block app_content%}
<h1 class="title">Transfer</h1>
<form action="transfer" method="POST">
	{{ form.hidden_tag() }}
	<div class="marginize dewiden-hard center">
		<h2 name="{{ money_recipient }}">
			<p>Sending money to</p>
			<input class="form-control inline" type="text" placeholder="{{ recipient.username }}" name="target_username" value="{{ recipient.username }}" readonly>
		</h2>
		<p>Recipient Country: {{recipient.country}}</p>
		{{form.src_country_currency.label('Source Country Currency')}}
		{{form.src_country_currency(value=current_user.country,class="form-control dark-border")}} <br>

		<p>**A 1.5% Transfer fee is added to the charge to your balance </p>
		{{form.amount.label('Sender Amount')}} <br>
		{{form.amount(class="form-control dark-border")}} <br>

		{{form.converted.label('Converted Currency')}} <br>
		{{form.converted(class="form-control dark-border",readonly=true)}}
		<hr>
		{{form.submit(class="btn btn-primary")}}
	</div>
</form>
<div class="timestamp">
    <p><span id="time"></span></p>
</div>

<script>
var tme = new Date();
document.getElementById("time").innerHTML ="Date: "+ (("0"+tme.getDate()).slice(-2)) +"."+ (("0"+(tme.getMonth()+1)).slice(-2)) +"."+ (tme.getFullYear()) +" Time:  "+ (("0"+tme.getHours()).slice(-2)) +":"+ (("0"+tme.getMinutes()).slice(-2));
</script>
{% endblock %}