{% extends "base.html" %}

{% block app_content %}
    <h1>User: {{user.username}} </h1>
    <p>Contact List:</p>
    {% if user.my_contacts[0] is undefined %}
    <p>You have no contacts</p>
    {% else %}
    {% for contact in user.my_contacts %}
    <li>{{ contact.username }}</li>
    {% endfor %}
    {% endif %}
    <p>Pending Contact Requests Sent:</p>
    {% if user.contact_req_sent[0] is undefined %}
    <p>No pending contact requests sent.</p>
    {% else %}
    {% for req in user.contact_req_sent %}
    <li> {{ req }}</li>
    {% endfor %}
    {% endif %}
    <p>Pending Contact Requests Received:</p>
    {% if user.contact_req_recv[0] is undefined %}
    <p>No pending contact requests received.</p>
    {% else %}
    {% for req in user.contact_req_recv %}
    <li> {{ req }}</li>
    {% endfor %}
    {% endif %}
	<div class="timestamp">
    <p><span id="time"></span></p>
	</div>
<script>
var tme = new Date();
document.getElementById("time").innerHTML ="Date: "+ (("0"+tme.getDate()).slice(-2)) +"."+ (("0"+(tme.getMonth()+1)).slice(-2)) +"."+ (tme.getFullYear()) +" Time:  "+ (("0"+tme.getHours()).slice(-2)) +":"+ (("0"+tme.getMinutes()).slice(-2));
</script>
{% endblock %}